<h1> Log In Here! </h1>

<form method="POST" action="/login">
    <h3> <label for="email"> Email: </label> </h3> 
    <input type="text" name="email">     
    <h3> <label for="password"> Password: </label> </h3> 

    <!-- type="password" renders the password decrypted -->
    <input type="password" name="password"><br />
    <br />
    <input type="SUBMIT" value="Log In!"> 
</form>

