<h1> Log In Here! </h1>

<form method="POST" action="/login">
    <h3> <label for="username"> Username: </label> </h3> 
    <input type="text" name="username">     
    <h3> <label for="password"> Password: </label> </h3> 
    <input type="password" name="password"><br />
    <br />
    <input type="SUBMIT" value="Log In!"> 
</form>

<!-- type="password" renders the password decrypted -->

