<h1>Sign up here!</h1>

<form method="POST" action="/signup">
    <h3> <label for="email"> Email: </label> </h3> 
    <input type="text" name="email">     
    <h3> <label for="password"> Password: </label> </h3> 
    <input type="password" name="password"><br />
    <br />
    <input type="SUBMIT" value="Sign Up!"> 
</form>