<h1> Log In Here! </h1>

<form method="POST" action="/login">
    <h3> <label for="username"> Username: </label> </h3> 
    <p><input type="text" name="username"></p>     
    <h3> <label for="password"> Password: </label> </h3> 
    <p><input type="password" name="password"></p>
    <p><input type="SUBMIT" value="Log In!"> </p>
</form>

<!-- type="password" renders the password decrypted -->

