<h1>Sign up!</h1>

<form method="POST" action="/signup">
    <h3> <label for="email"> Email: </label> </h3> 
    <p><input type="text" name="email"></p>   
    <h3> <label for="username"> Username: </label> </h3> 
    <p><input type="text" name="username"></p>   
    <h3> <label for="password"> Password: </label> </h3> 
    <p><input type="password" name="password"></p>
    <p><input type="SUBMIT" value="Sign Up!"></p> 
</form>