<!doctype html>
<html>
  </head>
<title>My Pantry</title>
  <body style="background-color: #FFC0CB;>
  <div class="container">
<h1> Welcome to your MyPantry! </h1>

<img alt="How to Stock a Food Pantry | Fix.com" class="n3VNCb" src="https://fixcom.azureedge.net/assets/content/15713/pantry-power-header.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 385px; height: 127.82px; margin: 30.89px 0px;">

<h1>Welcome, <%=current_user.username %></h1>
<h2> You currently have: </h2>
<ul>
<% @items.uniq.each do |item| %>

  <!--the link directs you to each item's info-->
  <li><a href="/items/<%= item.id %>"> <%= item.name.capitalize %> </a></li>
<% end %>
</ul>

<a href="/items/new"> Add Item </a>
<a href="/logout"> Log Out </a>
<h1></h1>
</div>

  </body>
</html>