<h1> Enter an item and the quantity:</h1>

<form method="POST" action="/items">
    <h3> <label for="name"> Name: </label> </h3> 
    <input type="text" name="name"> 
    <h3> <label for="quantity"> Quantity: </label> </h3>
    <input type="text" name="quantity">
    <input type="SUBMIT" value="Add Item">
</form>