<h1> Enter an item and the quantity:</h1>

<form method="POST" action="/items">
    <h3> <label for="name"> Name: </label> </h3> 
    <p><input type="text" name="name"></p>
    <h3> <label for="quantity"> Quantity: </label> </h3>
    <p><input type="text" name="quantity"></p>
    <p><input type="SUBMIT" value="Add Item"></p>
</form>