<! DOCTYPE html>
<html>
<div style="background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/spikes.png');">
<div class="topleft"><a href="/items">&#8592; Back to your MyPantry!</a></div>

<h1> Enter an item and the quantity:</h1>
<body>
<form action="upload.php" method="post" enctype="multipart/form-data">
<input type="file" name="fileToUpload" id="fileToUpload">
<input type="submit" value="Upload Image" name="submit">
</form>

<form method="POST" action="/items">
    <h3> <label for="name"> Name: </label> </h3> 
    <p><input type="text" name="name"></p>
    <h3> <label for="quantity"> Quantity: </label> </h3>
    <p><input type="text" name="quantity"></p>
    <p><input type="SUBMIT" value="Add Item"></p>
</form>
</div>
</body>
</html>