<a href="/items">&#8592; Back to your MyPantry!</a><br /><br />

<h1><%= @item.name.upcase %> </h1>

<h3> Quantity: <%= @item.quantity %> </h3>

<p><a href="/items/<%= @item.id %>/edit">Edit this item</a></p>

<form method="POST" action="/items/<%= @item.id %>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
   <p> <input type="submit" value="Delete Item"></p>
</form>
