<!doctype html>
<html>
  <head>>
    <title>MyPantry</title>
  </head>
  <body>

   <nav>
  <% if logged_in? %>

    <a href="/items/new"> Add Item </a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.email %></p>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>

  </body>
</html>