<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyPantry</title>

    <meta name="viewport" content="width=device-width, initial-scale=5.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
   
  </head>
  <style>
  h1 {text-align: center;}
  h3 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  </style>
  <body style="background-color: #E0FFFF;>

  
  <!-- loops through each of the flash keys, gives them a block and displays the aler -->
  <div class="wrapper">
  <% flash.keys.each do | type|  %>
    <div>
      <%= flash[type] %>
    </div>
  <% end %>

  <%= yield %>


  </body>
</html>
