<!doctype html>
<html>
  <head>
    <title>MyPantry</title>
  </head>
  <body style="background-color: #CCFFFF;>

  <div class="container">
  <h1>Welcome to MyPantry!</h1>
  <h3> Sign up or Log in below: </h3>

  <%= yield %>
  
</div>

  </body>
</html>
