<!doctype html>
<html>
  <head>
    <title>MyPantry</title>
  </head>
  <body>

   <nav>
  <% if logged_in? %>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Log In </a>
  <%end %>

</nav>

  </body>
</html>