<!doctype html>
 <html>
 <div style="background-image: url('https://image.freepik.com/free-vector/food-doodle-set_160308-239.jpg');">
 <head>
    <title>MyPantry</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body> 
  <div class="container">
  <div class="boxed"><h1 class="title is-3"> Welcome to MyPantry! </h1></div><br/>
  <div class="fade-in"><img class="edit-image" src="https://www.freelogodesign.org/file/app/client/thumb/d087240c-4c67-475c-a2a0-8c70a7f21d8f_200x200.png?1602720830146"; style="width: 500px; height: 500px; margin: 0px;"></div>
  </div>
  
  <div class="topnav">
   <nav>
  <% if logged_in? %>
  <h3><a href="/items"> Go to your MyPantry </a></h3>
  <% else %>
    <a href="/signup"> Sign Up </a>
    <a href="/login"> Log In </a>
  <%end %>
</nav>
</div>


  </body>
  </div>
</html>