<h1> Change your username: </h1>

<form method="POST" action="/users/<%= @user.id %>">
<input type="hidden" id="hidden" name="_method" value="PATCH">
    <h3> Quantity: <input name="username"></h3>
    <p><input type="submit" value="Submit Change"></p>
</form>
