<h1> Change your username: </h1>

<div class="field">
<label for="username" class="label">Username</label>
<div class="control has-icons-left">
    <input class="input" type="text" name="user[username]" placeholder="Text input">
    <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
    </span>
</div>
</div>