<a href="/items">&#8592; Back to your MyPantry!</a>
<h1> Profile: <h1>
<h2> Username: <%=current_user.username.capitalize %></h2>
<h2> You have: <%=@items.count %> items </h2>
<h2> MyPantrier since: <%=current_user.created_at %></h2>
<a href="/items"> Change username </a>